.app {
  height: 300px;
  min-height: 300px;
  width: 100%;
  max-width: 1200px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 20vh auto;
}
.btnContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.btn {
  text-align: right;
  font-size: 1rem;
  padding: 16.5px 14px;
}
.btnAdd {
  text-align: right;
  font-size: 1rem;
  padding: 16.5px 14px;
}
