.app {
  height: 300px;
  min-height: 300px;
  max-width: 70%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.btn {
  margin-bottom: 40px;
  text-align: right;
}
